body {
	font-family: 'Poppins', sans-serif;
	
}
.first {
	background-color:00A9FF;
	display:flex;
}
.top-1 {
	color:white;
	margin:60px;

}
.top-1 h1 {
	font-size:50px;
}
.img img {
	margin-right:80px;
	padding:20px;
}
.top-2 {
	color:white;
	margin:60px;
	font-weight:bold;
}
.fr-1 {
	font-size:60px;
}
.fr-3 {
	font-size:60px;
	color:blue;
}
.fr-5 {
	font-size:60px;
}
#two {
	display:flex;
	background-color:white;
	height:180px;
	width:1200px;
	box-shadow:3px 4px 10px teal;
	border-radius:30px;
	margin:40px 10px 10px 20px;
}
.mc img{
	height:120px;
	padding:25px;
	transition:.9s;
}
.mc img:hover {
	margin-top:-10px;
}
.rimu {
	text-align:center;
	font-size:50px;
	color:royalblue;
}	
.sv {
	display:flex;
	
}
.sv-1 {
	height:400px;
	width:500px;
	background-color:white;
	border-radius:20px;
	box-shadow:5px 5px 20px teal;
	margin:20px;
	padding:20px;
	margin-top:60px;
	
}
.sv-1 img {
	height:150px;
	width:150px;
	margin-left:90px;
}
.sv-1 h2 {
	text-align:center;
	color:#05C2FA;
	font-size:22px;
}
.sv-1 p {
	text-align:center;
	font-size:14px;
	color:#77777F;
	padding:0px 10px 0px 10px;
}
.but1{
	margin:0px 0px 0px 90px;
	padding-top:20px;
	transition:.5s;
}
.but1:hover {
	margin-top:-10px;
}
.but1 a {
	font-weight:bold;
	text-decoration:none;
	padding:10px 20px 10px 20px;
	background-color:#05C2FA;
	color:#FFFFFF;
	border-radius:10PX;
		
	
}
.sv-2 {
	height:480px;
	width:520px;
	background-color:39A7FF;
	border-radius:25px;
	box-shadow:5px 5px 20px black;
	margin:20px;
	padding:20px;
	color:white;
}	
.sv-2 img{
	height:150px;
	width:150px;
	margin-left:90px;
}
.sv-2 h2 {
	text-align:center;
	color:white;
	font-size:22px;
}
.sv-2 p {
	text-align:center;
	font-size:14px;
	color:white;
	padding:0px 10px 0px 10px;
}
.but2{
	margin:0px 0px 0px 90px;
	padding-top:20px;
	transition:.5s;
}
.but2:hover {
	margin-top:-10px;
}
.but2 a {
	font-weight:bold;
	text-decoration:none;
	padding:10px 20px 10px 20px;
	background-color:white;
	color:black;
	border-radius:10px;
	margin-right:80px;
}
	
.sv-3 {
	height:400px;
	width:500px;
	background-color:white;
	border-radius:25px;
	box-shadow:5px 5px 20px teal;
	margin:20px;
	padding:20px;
	margin-top:60px;
}
.sv-3 img{
	height:150px;
	width:150px;
	margin-left:90px;
}
.sv-3 h2 {
	text-align:center;
	color:#05C2FA;
	font-size:22px;
}
.sv-3 p {
	text-align:center;
	font-size:14px;
	color:#77777F;
	padding:0px 10px 0px 10px;
}
.but3 {
	margin:0px 0px 0px 90px;
	padding-top:20px;
	transition:.5s;
}
.but3:hover {
	margin-top:-10px;
}
.but3 a {
	font-weight:bold;
	text-decoration:none;
	padding:10px 20px 10px 20px;
	background-color:#05C2FA;
	color:#FFFFFF;
	border-radius:10px
}
.last {
	display:flex;
	
}
.last-1 {
	width:50%;
	height:500px;
	padding:100px 0px 0px 100px;
}
.last-1 h1 {
	color:39A7FF;
	font-size:50px;
}
.last-1 p {
	text-align:justify;
	font-weight:bold;
	
}
.last-2 {
	width:50%;
	height:500px;
}
.last-2 img {
	width:500px;
	height:auto;
	margin:80px ;
}
.bt {
	padding-top:15px;
	transition:.5s;
	
}
.bt:hover {
	margin-top:-10px;
}
.bt a {
	text-decoration:none;
	background-color:#05C2FA;
	color:white;
	border-radius:10px;
	padding:10px 20px 10px 20px;
	font-weight:bold;
}